 .u-section-1 {
  background-image: linear-gradient(#5e5a63, #2d2933);
}

.u-section-1 .u-sheet-1 {
  min-height: 1167px;
}

.u-section-1 .u-text-1 {
  width: 814px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 901px;
  grid-auto-columns: 100%;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 5px 20px;
}

.u-section-1 .u-text-2 {
  margin: 2px 0 0 121px;
}

.u-section-1 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -22px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -48px 0 0 121px;
}

.u-section-1 .u-icon-1 {
  width: 47px;
  height: 47px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 3px 4px 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 20px;
}

.u-section-1 .u-text-5 {
  margin: 2px 0 0 121px;
}

.u-section-1 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -22px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -48px 0 0 121px;
}

.u-section-1 .u-icon-2 {
  width: 47px;
  height: 47px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 3px 4px 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 5px 20px;
}

.u-section-1 .u-text-8 {
  margin: 2px 0 0 121px;
}

.u-section-1 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  margin: -22px auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: -48px 0 0 121px;
}

.u-section-1 .u-icon-3 {
  width: 47px;
  height: 47px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 3px 4px 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 5px 20px;
}

.u-section-1 .u-text-11 {
  margin: 2px 0 0 121px;
}

.u-section-1 .u-group-4 {
  width: 79px;
  min-height: 79px;
  height: auto;
  margin: -22px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  margin: -48px 0 0 121px;
}

.u-section-1 .u-icon-4 {
  width: 47px;
  height: 47px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 3px 4px 0 auto;
  padding: 0;
}

.u-section-1 .u-list-item-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-9 {
  padding: 5px 20px;
}

.u-section-1 .u-text-14 {
  margin: 2px 0 0 121px;
}

.u-section-1 .u-group-5 {
  width: 79px;
  min-height: 79px;
  height: auto;
  margin: -22px auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-16 {
  margin: -48px 0 0 121px;
}

.u-section-1 .u-icon-5 {
  width: 47px;
  height: 47px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 3px 4px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -28px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -115px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -115px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -115px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    height: auto;
  }

  .u-section-1 .u-text-12 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: -115px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-1 .u-text-15 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1392px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -58px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1173px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 98px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 37px;
    margin-left: 98px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 98px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 37px;
    margin-left: 98px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 98px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 37px;
    margin-left: 98px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 98px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 37px;
    margin-left: 98px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-left: 98px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    font-size: 3rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1854px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    line-height: 1.2;
    width: auto;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: -28px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 90px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 90px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-5,
.u-section-1 .u-icon-5:before,
.u-section-1 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-1 .u-icon-5.u-icon-5.u-icon-5.hover {
  transform: translateX(10px) translateY(0px) !important;
}